<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="myConnection" connectionString="Data Source=NIKOLA-VAIO\SQLEXPRESS;Initial Catalog=EventOnTheGoDB;Integrated Security=True" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTfulWCF.EventOnTheGoEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="RESTfulWCF.EventOnTheGo">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="RESTfulWCF.EventOnTheGoEndpointBehavior" contract="RESTfulWCF.IEventOnTheGo">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>
