<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="myConnection" connectionString="Server=9ef17ccc-7575-420b-be55-9fbd00e952a5.sqlserver.sequelizer.com;Database=db9ef17ccc7575420bbe559fbd00e952a5;User ID=hwcwrfdttzmadmkl;Password=iZqMZkLcR768QocQksioweqNGNdWrMFF2yZYsg5gqdjSqidE2UYYujdeJJekhXSd;" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="RESTfulWCF.EventOnTheGoEndpointBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <services>
      <service name="RESTfulWCF.EventOnTheGo">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="RESTfulWCF.EventOnTheGoEndpointBehavior" contract="RESTfulWCF.IEventOnTheGo">
        </endpoint>
      </service>
    </services>
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>

  <appSettings></appSettings>
  

</configuration>